@import "tailwindcss";

:root {
  --corn: #fbec5d;
  --accent-orange: rgba(255, 141, 40, 0.2);
  --background:
    radial-gradient(
      50% 50% at 50% 50%,
      var(--corn, rgba(251, 236, 93, 0.2)) 0%,
      var(--accent-orange, rgba(255, 141, 40, 0.2)) 100%
    ),
    var(--corn, #fbec5d);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alan-sans);
  --font-header: var(--font-irish-grover);
}

body {
  background: var(--background);
  font-family:
    Alan Sans,
    Arial,
    Helvetica,
    sans-serif;
}
